{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Dashboard</title>
{% endblock title %}



{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="column"> 
      
    {% for dweet in page_obj.object_list %}
            

     <div class="block">
        <div class="card">
            <ul class="activity-list list-unstyled">
                <li class="clearfix">
                    <div class="float-left">
                        <a href="#"><img height="60px" width="60px"src="{{dweet.user.profile_image}}" alt="" class="img-fluid rounded-circle"></a>
                    </div>
                    <div class="act-content">
                        <div class="font400">

                            <a style="text-decoration:none"href="{% url "profile" dweet.user.id %}" class="font600">{{ dweet.user.first_name }} {{dweet.user.last_name }} </a>
                            {% if dweet.tag %}
                        is feeling <span class="tag is-warning is-light">{{dweet.tag|upper}}</span>
                            {% endif %}
                        </div>
                        <span class="text-small">{{dweet.created_at}}</span>
                        <p>
                            {{dweet.body}}
                        </p>
                        
                    </div>
                </li>
            </ul>

            



            
            {% comment %} <div class="card-content"> 
                  <div class="media"> 
                     <div class="media-left">
                      <figure class="image is-48x48">
                        <img class="is-rounded" src="{{dweet.user.profile_image}}"
                            alt="Placeholder image">
                      </figure>
                    </div> 
                    <div class="media-content">
                        <div class="field is-grouped">
                     <p class="title is-4">
                        <a style="text-decoration:none"href="{% url "profile" dweet.user.id %}">{{ dweet.user.first_name }} {{dweet.user.last_name }} </a>
                            {% if dweet.tag %}
                        is feeling <span class="tag is-warning is-light">{{dweet.tag|upper}}</span>
                            {% endif %}
                        <span class="is-small has-text-grey-light">
                            ({{ dweet.created_at|date:"d/M/Y" }}, {{ dweet.created_at|time:"H:i" }})
                        </span>
                      </p> 
                        </div>
                      

                  <p class="subtitle is-6">
                    @{{ dweet.user.username|lower }}
                    
                  </p>
                
                  <p>
                    {{ dweet.body }}
                  </p> 
                    
                
                </div>
                {% if dweet.user.id == request.user.id %}
                <a href="{% url 'dweet delete' dweet.id%}" style="text-decoration:none;"><button class="button is-danger is-small">Delete</button></a>
                {% endif %}
                
              </div> 

            </div> {% endcomment %}
          
        </div>
      </div>
    {% endfor %}

    <center style="text-decoration:none">
        {%if page_obj.has_previous %} {# whether the previous page exists #}
            
            <a style="text-decoration:none; color: white; background-color: orange; border-color: orange" href="?page={{page_obj.previous_page_number}}" class="pagination-next">Previous</a> {# link to the prev page #}
        {% endif %}
        {# the current page number #}
        <a style="text-decoration:none; color: orange; background-color: white; border-color: orange" class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{page_obj.number}}</a>

  
        {%if page_obj.has_next %} {# whether the next page exists #}
            
            <a style="text-decoration:none; color: white; background-color: orange; border-color: orange" href="?page={{page_obj.next_page_number}}" class="pagination-next">Next page</a> {# link to the next page #}
        {% endif %}
    </center>






</div>




<div class="column is-one-third">
    <div class="block">
    <form class="form-inline" method="GET" action="{% url 'search bar' %}">
        
        <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="block">
        <a href="{% url 'profile_list' %}" style="text-decoration:none">
            <button class="button is-dark is-outlined is-fullwidth">
                All Profiles
            </button>
        </a>
    </div>
    
    <div class="block">
        <a href="{% url 'profile' request.user.profile.id %}" style="text-decoration:none">
            <button class="button is-info is-light is-outlined is-fullwidth">
                My Profile
            </button>
        </a>
    </div>

   

    <div class="block">
        <h2 class="title is-2">Add a State</p>
    </div>

    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button class="button is-info is-fullwidth is-medium mt-5"
        type="submit">State
        </button>
    </form>    

</div>

<style type="text/css">

    {% comment "timeline shit" %}{% endcomment %}
  

    .float-left {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        float: left;
        display: block;
        border-radius: 50%;
        background-color: #eee;
        font-size: 20px;
        line-height: 100%;
        line-height: 43px;
        text-align: center; }
        .activity-list .float-left a {
          display: inline-block;
          color: #999; }
        
        li {
            border-bottom: 1px solid #eee;
            padding-bottom: 20px;
            margin-bottom: 20px; }
        
            .act-content span.text-small {
                display: block;
                color: #999;
                margin-bottom: 10px;
                font-size: 12px;
            }
            .act-content {
                overflow: hidden; }
                .act-content span.text-small {
                  display: block;
                  color: #999;
                  margin-bottom: 10px;
                  font-size: 12px; }
    {% comment "end of timeline shit" %}{% endcomment %}
    .card,
  .post-editor,
  .stream-post {
      padding: .75rem;
      background: transparent;
      border: 1px solid #eceeef;
      border-radius: .25rem;
      margin-bottom: 1.5rem
  }
  .stream-post {
    position: relative
}


#profile-settings textarea {
    padding: 1rem;
    line-height: 1.8;
    height: 140px;
    font-style: italic
}

#profile-settings label {
    font-size: 1rem
}

#profile-settings .form-control {
    color: #818a91
}

#profile-settings .form-control,
#profile-settings .form-control:focus {
    box-shadow: none;
    outline: none
}

.edit-cover {
    position: relative;
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid #eceeef;
    background: #f7f7f9;
    height: 400px
}

.edit-cover img {
    border-radius: .25rem;
    width: 100%;
    height: 100%
}

.edit-cover .btn {
    position: absolute;
    right: 32px;
    bottom: 32px
}
  
{% endblock content %}


